#####################################################################
#  Homing definition
#####################################################################
##  USE either safe homing or homing override
#[safe_z_home]
##  XY Location of the Z Endstop Switch
##  Update X0 and Y0 to your values (such as 157, 305) after going through
##  Z Endstop Pin Location Definition step.
#home_xy_position: 230,355
#speed: 50.0
#z_hop: 5.0
#z_hop_speed: 20.0
#move_to_previous: False

[homing_override]
axes:z
set_position_z: 0
gcode:
   #SAVE_GCODE_STATE NAME=STATE_HOMING
   #    reduce current
   SET_TMC_CURRENT STEPPER=stepper_z CURRENT=0.3 HOLDCURRENT=0.3
   SET_TMC_CURRENT STEPPER=stepper_z1 CURRENT=0.3 HOLDCURRENT=0.3
   SET_TMC_CURRENT STEPPER=stepper_z2 CURRENT=0.3 HOLDCURRENT=0.3
   SET_TMC_CURRENT STEPPER=stepper_z3 CURRENT=0.3 HOLDCURRENT=0.3
   # Lift Z
   G91 ; set relative
   G0 Z7.5 F600
   G90 ; set absolute
   # Home X and Y
   {% if "x" not in printer.toolhead.homed_axes %}
   G28 X
   {% endif %}
   {% if "y" not in printer.toolhead.homed_axes %}
   G28 Y
   {% endif %}
   ##	XY Location of the Z Endstop Switch
   ##	Update X0 and Y0 to your values (such as X157, Y305) after going through
   ##	Z Endstop Pin Location Definition step.
   # Move to Endstop position
   G0 X232 Y352 F3600
   # Home Z
   G28 Z
   ## return to org current settings
   SET_TMC_CURRENT STEPPER=stepper_z  CURRENT={ printer.configfile.config["tmc2209 stepper_z"]["run_current"] }  HOLDCURRENT={ printer.configfile.config["tmc2209 stepper_z"]["hold_current"] }
   SET_TMC_CURRENT STEPPER=stepper_z1 CURRENT={ printer.configfile.config["tmc2209 stepper_z1"]["run_current"] } HOLDCURRENT={ printer.configfile.config["tmc2209 stepper_z1"]["hold_current"] }
   SET_TMC_CURRENT STEPPER=stepper_z2 CURRENT={ printer.configfile.config["tmc2209 stepper_z2"]["run_current"] } HOLDCURRENT={ printer.configfile.config["tmc2209 stepper_z2"]["hold_current"] }
   SET_TMC_CURRENT STEPPER=stepper_z3 CURRENT={ printer.configfile.config["tmc2209 stepper_z3"]["run_current"] } HOLDCURRENT={ printer.configfile.config["tmc2209 stepper_z3"]["hold_current"] } 
   #RESTORE_GCODE_STATE NAME=STATE_HOMING
   # Lift Z
   G0 Z29 F1800
   # Move to Middle 
   G0 X175 Y175 Z30 F18000

#####################################################################
#  Macros
#####################################################################
## conditional home
[gcode_macro CG28]
gcode:
   {% if "x" not in printer.toolhead.homed_axes or "y" not in printer.toolhead.homed_axes or "z" not in printer.toolhead.homed_axes %}
   G28
   {% endif %}
