#####################################################################
#  Probe
#####################################################################
[probe]
##  Inductive Probe
##  This probe is not used for Z height 
##  Only used for Quad Gantry Leveling and Bed Mesh
pin: z:P0.10
x_offset: 0.0
# offset for inductive probe y direction off nozzle
y_offset: 25.0
# offset for inductive probe in z height
z_offset: 0
speed: 10.0
lift_speed: 10.0
samples: 3
samples_result: median
sample_retract_dist: 0.5 #1.0
samples_tolerance: 0.0051
samples_tolerance_retries: 5

#####################################################################
#  Disable Heater while probing
#####################################################################
[homing_heaters]
steppers: stepper_z, stepper_z1, stepper_z2, stepper_z3
heaters: extruder

#####################################################################
#  Gantry Adjustment Routines
#####################################################################
[quad_gantry_level]
##  Use QUAD_GANTRY_LEVEL to level a gantry.
##  Min & Max gantry corners - measure from nozzle  
##  to respective belt positions
gantry_corners:
	-60,-10
	410,420
##  Probe points
##  This are nozzel positions we need to substract the probe offset 
points:
	50,25
	50,275
	300,275
	300,25
speed: 1000
horizontal_move_z: 15
retries: 5
retry_tolerance: 0.0051
max_adjust: 15

#####################################################################
#  Macros
#####################################################################
## customize QUAD GANTRY LEVEL gcode 
[gcode_macro QUAD_GANTRY_LEVEL]
rename_existing: BASE_QUAD_GANTRY_LEVEL
variable_qgl_done: 0
gcode:
    M117 QGL in progress
    ## reduce current of Z motors
    SET_TMC_CURRENT STEPPER=stepper_z  CURRENT=0.4 HOLDCURRENT=0.4
    SET_TMC_CURRENT STEPPER=stepper_z1 CURRENT=0.4 HOLDCURRENT=0.4
    SET_TMC_CURRENT STEPPER=stepper_z2 CURRENT=0.4 HOLDCURRENT=0.4
    SET_TMC_CURRENT STEPPER=stepper_z3 CURRENT=0.4 HOLDCURRENT=0.4
    BASE_QUAD_GANTRY_LEVEL
    G28 Z
    BASE_QUAD_GANTRY_LEVEL
    ## return to org current settings
    SET_TMC_CURRENT STEPPER=stepper_z  CURRENT={ printer.configfile.config["tmc2209 stepper_z"]["run_current"] }  HOLDCURRENT={ printer.configfile.config["tmc2209 stepper_z"]["hold_current"] }
    SET_TMC_CURRENT STEPPER=stepper_z1 CURRENT={ printer.configfile.config["tmc2209 stepper_z1"]["run_current"] } HOLDCURRENT={ printer.configfile.config["tmc2209 stepper_z1"]["hold_current"] }
    SET_TMC_CURRENT STEPPER=stepper_z2 CURRENT={ printer.configfile.config["tmc2209 stepper_z2"]["run_current"] } HOLDCURRENT={ printer.configfile.config["tmc2209 stepper_z2"]["hold_current"] }
    SET_TMC_CURRENT STEPPER=stepper_z3 CURRENT={ printer.configfile.config["tmc2209 stepper_z3"]["run_current"] } HOLDCURRENT={ printer.configfile.config["tmc2209 stepper_z3"]["hold_current"] } 
    SET_GCODE_VARIABLE MACRO=QUAD_GANTRY_LEVEL VARIABLE=qgl_done VALUE=1
